body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mybtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 3em;
}
#mylbl{
    font-size: 3em;
}