#mybtn{
    font-size: 4rem;
    margin:10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: aquamarine;

}
.enabled{
    color: rgb(14, 13, 13);
    background-color: tomato;
}
.hover{
    box-shadow:crimson;
    font-weight: bold  ;
}

.disabled{
    color: white;
    background-color: grey;
}